/* Custom styles for Quill editor */

.ql-editor {
  padding: 12px 15px; /* Adjust padding to ensure text and placeholder are within bounds */
}

/* Optional: Adjust border-radius to match the container's rounded corners */
.ql-container.ql-snow {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
